@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500;600;700;800&display=swap');
body {
  font-family: 'Mulish', sans-serif;
  background: #F7F8FC;
  font-weight: 600;
}
* {
  box-sizing: border-box;
}

.flex {
  display: flex;
}
.m-0 {
  margin : 0;
}
.ml-1 {
  margin-left : 1em;
}

.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.items-center {
  align-items: center;
}